@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Host Editor</title>
    @Html.Partial("_LayoutHead")
    @RenderSection("Head", required: false)
</head>
<body class="no-skin">
    @Html.Partial("_LayoutNavbar")
    <div class="main-container" id="main-container">
        @Html.Partial("_LayoutSidebar")
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="@Url.Action("Index","Home")">Anasayfa</a>
                        </li>
                        @RenderSection("Navigation", required: false)
                    </ul>
                    <div class="nav-search" id="nav-search">
                        @*<form class="form-search">
                            <span class="input-icon"> 
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>*@
                    </div>
                </div>
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_LayoutScripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
