@model IEnumerable<HostEditor.Models.Host>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Hosts</a>
        </li>
        <li class="active">Index</li>
    </ul>

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="widget-box">
    <div class="widget-header widget-header-small">
        <h5 class="widget-title lighter">Search Hosts</h5>
    </div>
    
    <div class="widget-body">
        <div class="widget-main">
            
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        
                           
                            <div class="form-group">
                                
                                @Html.DropDownList("searchKeyword", (SelectList)ViewBag.searchKeyword, new  { @id= "searchKeyword" });
                                
                                <input type="submit" value="search" />
                                @*<span class="input-group-btn">
                                    <button type="button" class="btn btn-purple btn-sm" onclick="formSearch">
                                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                        Search
                                    </button>
                                </span>*@
                            </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
}								





<div class="alert alert-info" role="alert" style="margin-left:5px; margin-right:5px">
    <span class="alert-link">
        @Html.ActionLink("Create New Host", "Create")
    </span>
</div>

<div class="panel panel-info">
    <table class="table">
        

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HostName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th></th>
            </tr>
        


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HostName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.HostId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.HostId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.HostId })
                    </td>
                </tr>
            }

    </table>
    </div>
